
<ul *ngIf="check">
  <input type="text" #s1 required placeholder="Please enter country code"><br>
  <input type="text" #s2 required placeholder="Please enter zipcode"><br><br>
  <button (click)="getWeatherOncoun(s1.value, s2.value)">Submit</button>
   
</ul>
 <!-- testing for interpolation of model -->

<p>temp {{model.main.temp}}</p>
<p>pressure {{model.main.pressure}}</p>
<p>humidity {{model.main.humidity}}</p>
<p>wind {{model.wind.speed}}{{model.wind.deg}}</p>
<p>clouds {{model.clouds}}</p>
<app-chartdisplay></app-chartdisplay>

